<!DOCTYPE html>
<html>
<head>
   
    <h1>Apple Reseller</h1>
	<title>Apple reseller</title>
	<link href="css/style.css" type="text/css" rel="stylesheet" />
	<div class="navbar">
      <a class="active" href="/">Home</a> 
      <a href="/page1">Products</a> 
      <a href="#">Contact</a> 
	  <a href="/about">About</a> 
      
      </div>





</head>
<body>
	{{{body}}}
	
</body>
</html>