<h2>welcome to the customisation page</h2>
<!DOCTYPE html>
<html>
<body>



<form action="/checkout">
 

  <input type="radio" name="model" value="macbook" checked> macbook<br>
  <input type="radio" name="model" value="macbook pro"> macbook pro<br>
  <input type="radio" name="model" value="macbook air"> macbook air <br><br>
 
  <input type="checkbox" name="normal" value="Bike"> 100 GB SSD<br>
  <input type="checkbox" name="limited edition" value="Car"> 16 gb ram
  <br><br>
  Quantity ():
  <input type="number" name="quantity" min="1" max="10">
  <input type="submit">

</form> 

</body>
</html>