<p>Welcome to  our products</p>
<p>please select whichever product you are interested in by clicking on the image of that product</p>
<body>
<a href="/customise">
  <img src="images/Macbook.png" style="width:350px;height:300px;border:0;">
</a>



<img src="images/imac.png" style ="width:350px;height:300px;" /> 

<img src="images/mac_mini.png" style ="width:370px;height:300px;" />

<img src="images/mac_pro.jpg" style ="width:370px;height:300px;" />

</body>


